mixin agreement
	.agreement#agreement
		a(href="javascript:parent.$.fancybox.close();").agreement__close
		p.agreement__title Пользовательское соглашение
		p.agreement__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ratione, inventore ad quaerat! Alias nesciunt dolore sit odit eveniet, est, iste, numquam exercitationem voluptates fugit voluptas. Quae suscipit corporis, perspiciatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolore repellat dolores adipisci quod culpa aperiam doloremque animi repellendus necessitatibus eligendi fuga accusantium, fugiat, explicabo quo tenetur dictveniam odio?
