mixin contact
	section.contact
		.side-nav
			h1.side-nav__title Контакты
			ul.side-nav__list
				li.side-nav__item.side-nav__item--active
					a(href="#").side-nav__link Управляющая компания
				li.side-nav__item
					a(href="#").side-nav__link Производство
				li.side-nav__item
					a(href="#").side-nav__link Филиал в г. Иваново
		.contact__inner
			.contact__map
				h2.contact__title Управляющая компания
				.map-block#map
					.map#contactsmap
			.contact__info
				span.contact__info-text.contact__phone +7 495 118 28 00
				span.contact__info-text.contact__address Москва, 2-й Павелецкий проезд д.5 стр.1
				span.contact__info-text.contact__building БЦ Ривердейл, 4 этаж
				.contact__divisions
					.contact__division
						.contact__division-title Отдел продаж дивизиона «Ткани для спецодежды»
						.contact__division-name Налетова Анастасия Николаевна
						.contact__division-phone +7 495 118 28 00, доб. 125
					.contact__division
						.contact__division-title Отдел по работе с розничными сетями
						.contact__division-name Антипина Ольга Александровна
						.contact__division-phone +7 495 118 28 00, доб. 106
					.contact__division
						.contact__division-title Отдел продаж по работе с HoReCa
						.contact__division-name Морозова Ксения Дмитриевна
						.contact__division-phone +7 495 118 28 00, доб. 120
					.contact__division
						.contact__division-title Отдел оптовых продаж дивизиона «Домашний текстиль» (ткани и готовые изделия)
						.contact__division-name Губина Ирина Викторовна
						.contact__division-phone +7 495 118 28 00, доб. 119
					.contact__division
						.contact__division-title Директор по персоналу
						.contact__division-name Кондова Ольга Сергеевна
						.contact__division-phone +7 495 118 28 00, доб. 116
