mixin docs
	ul.docs
		li.docs__item.docs__item--rules
			a(href="#").docs__link
				span Правила по уходу<br> за тканями
		li.docs__item.docs__item--trials
			a(href="#").docs__link
				span Испытания ткани
		li.docs__item.docs__item--standarts
			a(href="#").docs__link
				span Нормативная база<br> (ГОСТы, ТР, ТС)
