mixin main-catalogue
	section.main-catalogue
		a(href="#").main-catalogue__item
			.main-catalogue__img(style="background-image:url(./img/index-1.jpg);")
			.main-catalogue__name
				span.main-catalogue__text Ткани<br> для спецодежды
		a(href="#").main-catalogue__item
			.main-catalogue__img(style="background-image:url(./img/index-2.jpg);")
			.main-catalogue__name
				span.main-catalogue__text Ткани<br> для домашнего текстиля
		a(href="#").main-catalogue__item
			.main-catalogue__img(style="background-image:url(./img/index-3.jpg);")
			.main-catalogue__name
				span.main-catalogue__text Готовые<br> изделия
		a(href="#").main-catalogue__item
			.main-catalogue__img(style="background-image:url(./img/index-4.jpg);")
			.main-catalogue__name
				span.main-catalogue__text Текстиль<br> для гостиниц
