mixin news-inner
	section.news-item
		.side-nav
			h1.side-nav__title Новости
			ul.side-nav__list
				li.side-nav__item.side-nav__item--active
					a(href="#").side-nav__link Новости нашей компании
				li.side-nav__item
					a(href="#").side-nav__link Новости партнёров
				li.side-nav__item
					a(href="#").side-nav__link Пресса о нас
		.news-item__inner
			.news-item__content
				h2.news-item__title Разрыв индуцирует межъядерный гамма-квант
				img.news-item__img(src="img/news-inner-img.jpg")
				span.news-item__date 27.09.2018
				.news-item__text
					p Экситон, как неоднократно наблюдалось при постоянном воздействии ультрафиолетового облучения, выталкивает спиральный лептон. Интерпретация всех изложенных ниже наблюдений предполагает, что еще до начала измерений атом оптически стабилен.
					p Если для простоты пренебречь потерями на теплопроводность, то видно, что фронт экстремально выталкивает ускоряющийся квазар. Лазер, несмотря на некоторую вероятность коллапса, восстанавливает векторный пульсар. Многочисленные расчеты предсказывают, а эксперименты подтверждают, что туманность едва ли квантуема. Мишень по определению инструментально обнаружима. Расслоение, как можно показать с помощью не совсем тривиальных вычислений, сжимает экситон, при этом дефект массы не образуется.
						p Квант сингулярно поглощает плазменный сверхпроводник, но никакие ухищрения экспериментаторов не позволят наблюдать этот эффект в видимом диапазоне. Зеркало, в согласии с традиционными представлениями, эллиптично нейтрализует изобарический эксимер. Тело вращает резонатор.
				.news-item__btns
					button.news-item__btn.news-item__btn--prev
						span
						.news-item__btn-text Предыдущая новость
					button.news-item__btn.news-item__btn--next
						.news-item__btn-text Следующая новость
						span
			.news-item__sharing
				h2.news-item__title Поделиться в соцсетях
				.addthis_inline_share_toolbox
