mixin timeline
	section.timeline
		.side-nav
			h1.side-nav__title О компании
			ul.side-nav__list
				li.side-nav__item
					a(href="#").side-nav__link Обращение генерального директора
				li.side-nav__item
					a(href="#").side-nav__link О комбинате
				li.side-nav__item.side-nav__item--active
					a(href="#").side-nav__link История комбината
				li.side-nav__item
					a(href="#").side-nav__link Политика в области качества
				li.side-nav__item
					a(href="#").side-nav__link Карьера
				li.side-nav__item
					a(href="#").side-nav__link Новости
				li.side-nav__item
					a(href="#").side-nav__link Наши партнёры
		.timeline__inner
			h2.timeline__title История комбината
			.timeline__list
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline1.jpg")
					.timeline__item-text Основание Вологодского комбината, крупнейшего льняного производства в СССР. В марте на строительстве работало 400 человек, а в декабре уже 1000 человек.
					span.timeline__date 1936
				.timeline__item
					.timeline__item-text За успешное выполнение плана строительства широко развернулось стахановское движение.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline2.jpg")
					span.timeline__date 1937
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline3.jpg")
					.timeline__item-text Число стахановцев возросло до 450 человек.
					span.timeline__date 1940
				.timeline__item
					.timeline__item-text Закончено строительство чесального цеха, двух прядильных корпусов, здания школы ФЗО, управления льнокомбината, механической мастерской. Сдано в эксплуатацию 15 тыс. кв. метров жилой площади. В декабре 1941 года — строительство льнокомбината было законсервировано. Все производственные помещения переданы в распоряжение комитета обороны Вологодской области.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline4.jpg")
					span.timeline__date 1941
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline5.jpg")
					.timeline__item-text В годы войны текстильщики готовили кадры для монтажа и пуска технологического оборудования, заготовляли лес, торф. В апреле выработали первые горсти чесаного льна. За проявленные храбрость и отвагу и самоотверженный труд 386 работников комбината удостоены правительственных наград.
					span.timeline__date 1942
				.timeline__item
					.timeline__item-text 4 ноября Приказом НКТП СССР строительство льнокомбината выведено из консервации.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline6.jpg")
					span.timeline__date 1945
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline7.jpg")
					.timeline__item-text Освоена проектная мощность в объеме 4375 тонн в год.
					span.timeline__date 1957
				.timeline__item
					.timeline__item-text За достижение высоких показателей в трудовом соревновании были признаны победителями 1152 человека.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline8.jpg")
					span.timeline__date 1958
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline9.jpg")
					.timeline__item-text Утверждена производственная мощность 17280 тысяч погонных метров ткани в год. Коллектив комбината приступил к дальнейшему строительству, вводу в эксплуатацию оборудования, обучению кадров, освоению технологических процессов производства. Введено в эксплуатацию ткацкое производство. Установлено приготовительное оборудование и 1064 ткацких станка. Вырабатывалось 6 артикулов тканей.
					span.timeline__date 1959
				.timeline__item
					.timeline__item-text Введено в эксплуатацию 23000 прядильных веретен. Освоена технология выработки оческовой и льняной суровой пряжи 5-ти номеров. Выпущено 19,5 миллионов погонных метров ткани, в том числе 69 тысяч погонных метров костюмно-платьевых тканей.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline10.jpg")
					span.timeline__date 1960
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline11.jpg")
					.timeline__item-text Полное окончание строительства Вологодского комбината.
					span.timeline__date 1976
				.timeline__item
					.timeline__item-text Закончено внедрение 1908 рационализаторских предложений и изобретений. Разработано и внедрено 26 новых технологических процессов, в том числе варка, беление ровницы, крашения, малосъемная малоусадочная отделка тканей.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline12.jpg")
					span.timeline__date 1970
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline14.jpg")
					.timeline__item-text Выпуск готовых тканей составил 31316 тысяч погонных метров. Освоена технология выработки 25 артикулов костюмно-платьевых тканей. Внедрено 38 мероприятий НОТ. Механизировано 37 транспортных операций.
					span.timeline__date 1975
				.timeline__item
					.timeline__item-text Произведен монтаж первых бесчелночных ткацких станков, аппретурно-отделочных линий «Тексима», аппаратов для варки и беления ровницы и пряжи. Внедрено 10 новых технологических процессов, 20 образцов ткани. Вологодский комбинат производит до 25 миллионов погонных метров ткани в год.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline13.jpg")
					span.timeline__date 1980
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline15.jpg")
					.timeline__item-text Выработано 19378 тонн льняной пряжи и 115018 тысяч погонных метров готовых тканей.
					span.timeline__date 1985
				.timeline__item
					.timeline__item-text Внедрено 416 рационализаторских предложений, около 500 человек приняли участие в рационализации. Средний процент уплотнения составил 116%. Досрочно выполнили план — 500 человек.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline16.jpg")
					span.timeline__date 1988
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline17.jpg")
					.timeline__item-text Досрочно выполнили план — 160 человек. Четверым было присвоено звание «Заслуженный работник текстильной и легкой промышленности». Обновлен ассортимент на 86,6%.
					span.timeline__date 1989
				.timeline__item
					.timeline__item-text При поддержке Минпромторга России и Правительства Вологодской области началась масштабная модернизация и возрождение предприятия после банкротства компании  «Вологодский текстиль». Было установлено современное ткацкое и отделочное оборудование, позволяющее производить ткани высокого качества.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline18.jpg")
					span.timeline__date 2013
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline19.jpg")
					.timeline__item-text Для проведения всестороннего анализа ситуации на ОАО «Вологодский текстиль» Минпромторгом России была создана Межведомственная рабочая группа. В состав группы вошли Администрация Вологодской области, банки-кредиторы, Российский профсоюз работников текстильной и легкой промышленности.
					span.timeline__date 2014
				.timeline__item
					.timeline__item-text К рабочей группе присоединился консорциум, состоящий из Национальной инвестиционной компании (НИК) и Группы ТРИНФИКО. Был проведен технический анализ производственных мощностей комбината и разработана программа по переориентации предприятия на выпуск тканей и готовых изделий. Реализацией программы с учетом доступности сырья и меняющегося спроса занялась управляющая компания «Земство», созданная участниками консорциума.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline20.jpg")
					span.timeline__date 2015
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline21.jpg")
					.timeline__item-text Объём выпуска готовой ткани  на модернизированном оборудовании предприятия  составил 1700000 погонных метров за год.
					span.timeline__date 2016
				.timeline__item
					.timeline__item-text За счёт увеличения мощности производства объём выпуска составляет 2300000 погонных метров ткани.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline22.jpg")
					span.timeline__date 2017
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline23.jpg")
					.timeline__item-text Прогнозируемый объём производства — 4100000 погонных метров домашнего текстиля и тканей специального назначения.
					span.timeline__date 2018
