mixin timeline
	section.timeline
		.side-nav
			h1.side-nav__title О компании
			ul.side-nav__list
				li.side-nav__item.side-nav__item--active
					a(href="#").side-nav__link Обращение генерального директора
				li.side-nav__item
					a(href="#").side-nav__link О комбинате
				li.side-nav__item
					a(href="#").side-nav__link История комбината
				li.side-nav__item
					a(href="#").side-nav__link Политика в области качества
				li.side-nav__item
					a(href="#").side-nav__link Карьера
				li.side-nav__item
					a(href="#").side-nav__link Новости
				li.side-nav__item
					a(href="#").side-nav__link Наши партнёры
		.timeline__inner
			h2.timeline__title История комбината
			.timeline__list
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline1.jpg")
					.timeline__item-text Основание Вологодского комбината, крупнейшего льняного производства в СССР. В марте на строительстве работало 400 человек, а в декабре уже 1000 человек.
				.timeline__item
					.timeline__item-text За успешное выполнение плана строительства широко развернулось стахановское движение.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline2.jpg")
				.timeline__item
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline3.jpg")
					.timeline__item-text Число стахановцев возросло до 450 человек.
				.timeline__item
					.timeline__item-text Закончено строительство чесального цеха, двух прядильных корпусов, здания школы ФЗО, управления льнокомбината, механической мастерской. Сдано в эксплуатацию 15 тыс. кв. метров жилой площади. В декабре 1941 года — строительство льнокомбината было законсервировано. Все производственные помещения переданы в распоряжение комитета обороны Вологодской области.
					.timeline__item-picture
						img.timeline__item-img(src="img/timeline4.jpg")
