include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
			header.header
				+logo
				+nav
				+contacts
			.bg(style="background-image: url(img/timeline-bg.jpg);")
			.inner-wrapper
				+timeline
			+footer
			+agreement
			+callback
			+feedback
			+scripts
