include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
			header.header
				+logo
				+nav
				+contacts
			.bg(style="background-image: url(img/vacancy-bg.jpg);")
			.inner-wrapper
				+vacancy
			+footer
			+agreement
			+scripts
