.contact{
  display: flex;
  color: #454545;
  font-size: 16px;

    &__title{
      font-size: 28px;
      color: #454545;
      font-weight: 400;
      margin: 0;
      margin-bottom: 30px;
    }
    &__map{
      width: 567px;
    }
    &__map-img{
      width: 100%;
    }
    &__inner{
      display: flex;
      margin-bottom: 44px;
    }
    &__info{
      padding-top: 60px;
      max-width: 508px;
      width: 100%;
      padding-left: 48px;
    }
    &__info-text{
      display: block;
      line-height: 1;
    }
    &__address{
      margin-bottom: 15px;
    }
    &__phone{
      margin-bottom: 25px;
    }
    &__divisions{
      margin-top: 28px;
      margin-bottom: 153px;
    }
    &__division{
      padding-left: 40px;
      margin-bottom: 20px;
      position: relative;
    }
    &__division:before{
      content:"";
      position: absolute;
      width: 30px;
      height: 31px;
      left:0;
      background-size: cover;
      background-image: url(../i/contact-icon.png);
    }
    &__division-title{
      border-bottom: 1px solid #454545;
      display: inline;
      line-height: 2;
    }
    &__division-name{
      margin-bottom: 15px;
      margin-top: 13px;
    }
    .map-block #contactsmap {
    height: 100%;
}
    .map-block{
      height: 380px;
      position: relative;
    }
  }
