.timeline{
	display: flex;

	&__inner{
		max-width: 1210px;
		width: 100%;
		margin-bottom: 60px;
		position: relative;
	}
	&__list{
		width: 100%;
	   display: flex;
		flex-direction: column;
	   justify-content: space-between;
		position: relative;
		&:before{
			content:"";
			position: absolute;
			background-color: #ff0000;
			width:8px;
			height: 100%;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 30px;
			top: -5px;
		}
		&:after{
			content:"";
			position: absolute;
			background-image: url("../../img/timeline-i7.png");
			width: 105px;
			height: 175px;
			left: 56%;
			bottom: -40px;
		}
	}
	&__title{
	  font-size: 28px;
	  color: #454545;
	  font-weight: 400;
	  margin: 0;
	  margin-bottom: 30px;
	}
	&__item-picture{
		max-width: 255px;
		width: 100%;
		margin-top: auto;
		margin-right: 20px;
	}
	&__item{
		display: flex;
		max-width: 577px;
		width: 100%;
		position: relative;
		margin-bottom: 27px;
		&:nth-child(2n){
			margin-left: auto;
			.timeline__item-picture{
				margin-right: 0;
				margin-left: 20px;
			}
			&:before{
		    left: -94px;
			 right: auto;
		    transform: rotate(180deg);
			}
			.timeline__date{
				left: -193px;
				right: auto;
			}
		}
		&:nth-child(3){
			&:after{
				content:"";
				position: absolute;
				background-image: url("../../img/timeline-i1.png");
				width: 257px;
				height: 194px;
				top: 136px;
    			left: 76px;
			}
		}
		&:nth-child(8){
			&:after{
				content:"";
				position: absolute;
				background-image: url("../../img/timeline-i2.png");
				width: 383px;
				height: 169px;
				top: 166px;
    			left: 149px;
			}
		}
		&:nth-child(14){
			&:after{
				content:"";
				position: absolute;
				background-image: url("../../img/timeline-i3.png");
				width: 234px;
				height: 234px;
				top: -112px;
				left: 192px;
			}
		}
		&:nth-child(15){
			&:after{
				content:"";
				position: absolute;
				background-image: url("../../img/timeline-i4.png");
				width: 343px;
				height: 181px;
				top: -200px;
    			right: 10px;

			}
		}
		&:nth-child(16){
			&:after{
				content:"";
				position: absolute;
				background-image: url("../../img/timeline-i5.png");
				width: 229px;
				height: 230px;
				bottom: -191px;
				right: 58px;

			}
		}
		&:nth-child(19){
			&:after{
				content:"";
				position: absolute;
				background-image: url("../../img/timeline-i6.png");
				width: 255px;
				height: 256px;
				bottom: -265px;
				left: 47px;

			}
		}
		&:last-child{
			&:after{
				content:"";
				position: absolute;
				background-image: url("../../img/timeline-i-last1.png");
				width: 20px;
				height: 246px;
				right: -38px;
				top: -29px;
				background-repeat: no-repeat;

			}
			&:before{
				background-image: url("../../img/timeline-i-last.png");
			}
			.timeline__date{
				color: #d5d5d5;
			}
		}
		&:before{
			content:"";
			position: absolute;
			width: 76px;
			height: 21px;
			right: -94px;
    		top: 30px;
			z-index: 9;
			background-image: url("../../img/timeline-i.png");
		}
	}
	&__item-img{
		max-width: 100%;
		height: 175px;
		position: relative;
		bottom: -50px;
	}
	&__item-text{
		max-width: 292px;
		width: 100%;
		color: #454545;
		font-size: 16px;
		line-height: 36px;
		text-align: justify;
	}
	&__date{
		font-size: 40px;
		color: #f20000;
		position: absolute;
		right: -193px;
    	top: 18px;
	}

}
