@media screen and (max-width: 1750px){
			.vacancy__inner{
				flex-shrink: 0.9;
			}
			.vacancy__resume{
				flex-shrink: 2;
			}
}
@media screen and (max-width: 1700px) {
	.news-item__inner{
		flex-shrink: 0.9;
	}
	.news-item__sharing{
		flex-shrink: 1.4;
	}
	.contact__inner{
		flex-shrink: 0.5;
	}
}
@media screen and (max-width: 1600px){

		.vacancy__item {
	    max-width: 245px;
		}
		.vacancy__resume {
    max-width: 316px;
	}
}
@media screen and (max-width: 1365px){
.news-item__btns{
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}
.news-item__btn--prev{
	margin-bottom: 20px;
}
.vacancy__item {
    max-width: unset;
}
}
@media screen and (max-width: 1250px){
	.feedback{
		padding: 80px;
	}
	.feedback__input {
	    font-size: 16px;
		}
}
@media screen and (max-width: 1200px){
	.news-item__content{
		margin-right: 55px;
	}
	.vacancy__info{
		margin-right: 40px;
	}
	.contact__map {
    max-width: 465px;
		width: 100%;
}
.contact .map-block {
    height: 292px;
	}
.contact__info {
    max-width: 355px;
    padding-left: 28px;
}
	.feedback{
		padding: 60px;
	}
}

@media screen and (max-width: 1023px){
	.news-item__inner{
		flex-wrap: wrap;
	}
	.news-item__sharing{
		margin-bottom: 50px;
	}
	.news-item{
		flex-wrap: wrap;
	}
	.news-item__content{
		margin-right: 0px;
	}
	.news-item__btns{
		flex-direction: row;
	}
	.news-item__btn--prev{
		margin-bottom: 0;
	}
	.vacancy{
		flex-wrap: wrap;
	}
	.side-nav__item ul{
		display: none;
	}
	.vacancy__inner--mb{
		flex-wrap: wrap;
	}
	.vacancy__info{
		margin-right: 0;
	}
	.vacancy__resume{
		margin-bottom: 30px;
	}
	.contact{
		flex-wrap: wrap;
	}
	.contact__inner{
		flex-wrap: wrap;
		flex-shrink: 1;
	}
	.contact__info{
		max-width: unset;
		padding-left: 0;
		width:auto;
		padding-top: 20px;
	}
	.contact__divisions{
		margin-bottom: 30px;
	}
	.feedback__fields{
		flex-wrap: wrap;
	}
	.feedback__form-left, .feedback__form-right{
		margin: 0 auto;
		margin-bottom: 23px;
	}
	.feedback__title{
		text-align: center;
	}
	.contact .map-block{
		margin-left: -40px;
		margin-right: -40px;
	}
	.contact__map{
		max-width: unset;
	}
	.contact .map-block{
		height: 380px;
	}
	.news-item__content{
		max-width: unset;
	}
	.news-item__img {
    width: calc(100% + 80px);
    margin-left: -40px;
    margin-right: -40px;
}
}
@media screen and (max-width: 767px){
.vacancy__inner{
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.vacancy__info{
	margin-right: 0;
}
.callback{
	padding-left: 70px;
	padding-right: 70px;
}
.feedback {
    padding: 20px;
		padding-top: 55px;
}
.feedback__close{
	top: 20px;
	right: 20px;
}
.contact .map-block {
    margin-left: -20px;
    margin-right: -20px;
}
.news-item__img {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
}
}
@media screen and (max-width: 600px){
	.news-item__btns{
		flex-direction: column;
	}
	.news-item__btn--prev{
		margin-bottom: 20px;
	}
	.callback{
		padding: 50px;
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media screen and (max-width: 500px){
	.vacancy__resume {
    max-width: unset;
}
.vacancy__resume-formbtn{
	margin: 0 auto;
	display: block;
}
.vacancy__item-btn{
	display: block;
}
.vacancy__resume-btn{
	margin-left: auto;
	margin-right: auto;
}
.callback__link{
	font-size: 14px;
}
.callback__close{
	right: 20px;
	top: 20px;
}
.callback{
	padding-left: 20px;
	padding-right: 20px;
}
.callback #radio+label:before{
	left: 1px;
}
.callback__title{
	font-size: 24px;
}
.callback__label{
	display: block;
	text-align: left;
}
.feedback__title {
    font-size: 24px;
	}
.feedback__link{
	font-size: 14px;
}
.feedback__label{
	display: block;
	text-align: left;
}
.feedback #radio-fb+label:before{
	left: 0;
}
.contact .map-block{
	height: 280px;
}
.news-item__title{
	font-size: 24px;
}
}
@media screen and (max-width: 374px){
	.callback__title {
    font-size: 20px;
}
}
