include standart/__head
include standart/__footer
include standart/__scripts
include header/logo
include header/nav
include header/contacts
include content/agreement
include content/news-inner
include content/contact
include content/vacancy
include content/vacancy-inner
include content/callback
include content/feedback
include content/timeline
