mixin contacts
		.contacts__phone
			.contacts__info
				a(href="tel:+7 495 480 75 79").contacts__phone-number +7 495 480 75 79
				a(href="#").contacts__phone-btn обратный звонок
			button.burger-menu
				span
