mixin nav
	.nav
		ul.nav__list
			li.nav__item.nav__item--active
				a(href="/about.html").nav__link О компании
				ul.nav__list
					li.nav__item.nav__item--active
						a(href="#").nav__link Обращение генерального директора
					li.nav__item
						a(href="#").nav__link О комбинате
					li.nav__item
						a(href="#").nav__link История комбината
					li.nav__item
						a(href="#").nav__link Политика в области качества
					li.nav__item
						a(href="#").nav__link Карьера
					li.nav__item
						a(href="#").nav__link Новости
					li.nav__item
						a(href="#").nav__link Наши партнёры
			li.nav__item
				a(href="/catalogue-page.html").nav__link Каталог
					ul.nav__list
						li.nav__item
							a(href="#").nav__link Ткани для домашнего текстиля
							ul.nav__list
								li.nav__item
									a(href="#").nav__link Сатиновая ткань
								li.nav__item
									a(href="#").nav__link Перкалевая ткань
								li.nav__item
									a(href="#").nav__link Вафельное полотно
								li.nav__item
									a(href="#").nav__link Жаккардовые ткани
								li.nav__item
									a(href="#").nav__link Льняная ткань
						li.nav__item
							a(href="#").nav__link Готовые изделия
							ul.nav__list
								li.nav__item
									a(href="#").nav__link Покрывала и пледы
								li.nav__item
									a(href="#").nav__link Текстиль для кухни
								li.nav__item
									a(href="#").nav__link Постельное бельё
								li.nav__item
									a(href="#").nav__link Спа и сауна
								li.nav__item
									a(href="#").nav__link Детский текстиль
								li.nav__item
									a(href="#").nav__link Столовое бельё
								li.nav__item
									a(href="#").nav__link Текстиль для гостиниц
						li.nav__item
							a(href="#").nav__link Ткани защитные для спецодежды
							ul.nav__list
								li.nav__item
									a(href="#").nav__link Термостойкие арамидные ткани
								li.nav__item
									a(href="#").nav__link Огнестойкие ткани
								li.nav__item
									a(href="#").nav__link Антистатичные ткани
								li.nav__item
									a(href="#").nav__link Информация для специалистов
			li.nav__item
				a(href="/thenews.html").nav__link Новости
			li.nav__item
				a(href="#").nav__link Контакты
			li.nav__item
				a(href="#").nav__link.nav__link--eng In English
		.contacts
			.contacts__feedback
				a(data-fancybox="feedback" href="#feedback").contacts__feedback-btn
			.contacts__social.social
				ul.social__list
					li.social__item
						a(href="#").social__link.social__link--fb
					li.social__item
						a(href="#").social__link.social__link--insta
					li.social__item
						a(href="#").social__link.social__link--vk
