mixin footer
	footer.footer
		.footer__left
			p.footer__text ® Вологодский текстильный комбинат.
				a(href="#agreement" data-fancybox="agreement").footer__link
					span Пользовательское соглашение<br> и юридическая информация.
		.footer__right
			a(href="http://vane.ru/").footer__link.footer__design
				span Разработка сайта
